@import "../styles/variables.module.scss";

.aboutUs {
  padding: $XS_PADDING;
}

.content__top {
  h1 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
  }
}

.content__card__content {
  border-radius: 10px;
  max-height: 390px;
  padding: $S_PADDING;
  margin: 3rem 0;
  max-width: 300px;
  margin: 3rem auto;

  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  span {
    font-size: 1.5rem;
  }

  @media (orientation: landscape) and (min-width: 666px) and (max-width: 747px) {
    // max-width: 350px;
    margin: 5rem auto;
  }

  @media screen and (min-width: 550px) {
    max-width: 400px;
  }
}

.content__card__people {
  display: flex;
  margin-top: 5rem;
}

.content__card__people__name {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.logo__client {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 2rem;
  }
}

.bottom {
  padding: 3.2rem;
  margin: 5rem 0;
  h1 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
  }
  border-radius: 10px;
}

.bottom__button {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  button {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
}

//tablet
@media screen and (min-width: 768px) {
  .aboutUs {
    padding: $M_PADDING;
  }

  .content__top {
    margin-bottom: 10rem;
  }

  .content__card__content {
    margin: 5rem auto;
    // max-width: 500px;
  }
  .logo__client {
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 130px;
      height: 50px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1 {
      font-size: 3.2rem;
    }
    p {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.6);
    }
    border-radius: 10px;
  }

  .bottom__text {
    max-width: 400px;
  }

  .bottom__button {
    display: block;
    margin: 0;
  }
}

@media screen and (min-width: 995px) {
  .logo__client {
    margin: 2rem 0;
    img {
      width: 190px;
      height: 60px;
    }
  }
}

//desktop
@media screen and (min-width: 1023px) {
  .aboutUs {
    padding: $L_PADDING;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  .aboutUs__content {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  .content__top {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2.2rem;
    }
  }

  .content__card__box {
    display: flex;
    margin: 3rem auto;
  }

  .content__top {
    margin-bottom: 10rem;
    padding-left: $L_PADDING;
  }

  .content__card__content {
    max-width: 300px;
    margin:  0 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    p {
      font-size: 2.2rem;
    }
  }

  .logo__client {
    margin: 5rem 0;
    img {
      width: 190px;
      height: 50px;
    }
  }

  .bottom__section {
    display: flex;
    padding: $S_PADDING;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    h1 {
      font-size: 4.5rem;
    }
    p {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.6);
    }
    border-radius: 10px;
  }

  .bottom__text {
    max-width: 530px;
  }

  .bottom__button {
    display: block;
    margin: 0;
    button {
      height: 64px;
      width: 170px;
    }
  }
}
