// Device width

$XS_DEVICE_WIDTH: 576px;
$S_DEVICE_WIDTH: 1024px;
$M_DEVICE_WIDTH: 1280px;
$L_DEVICE_WIDTH: 1920px;

// Device gutter width
$XS_GUTTER_WIDTH: 30px;
$S_GUTTER_WIDTH: 15px;
$M_GUTTER_WIDTH: 30px;
$L_GUTTER_WIDTH: 30px;

// Device column width
$XS_COLUMN_WIDTH: 158px;
$S_COLUMN_WIDTH: 29px;
$M_COLUMN_WIDTH: 30px;
$L_COLUMN_WIDTH: 65px;

// Device Max width content

$XS_CONTENT_MAX_WIDTH: 2 * $XS_COLUMN_WIDTH + $XS_GUTTER_WIDTH;
$S_CONTENT_MAX_WIDTH: $S_COLUMN_WIDTH * 12 + $S_GUTTER_WIDTH * 11;
$M_CONTENT_MAX_WIDTH: $M_COLUMN_WIDTH * 12 + $M_GUTTER_WIDTH * 11;
$L_CONTENT_MAX_WIDTH: $L_COLUMN_WIDTH * 12 + $L_GUTTER_WIDTH * 11;

// Device padding

$XS_PADDING: $XS_GUTTER_WIDTH;
$S_PADDING: $S_COLUMN_WIDTH + $S_GUTTER_WIDTH;
$M_PADDING: $M_COLUMN_WIDTH;
$L_PADDING: $L_COLUMN_WIDTH;

:export {
  $XS_DEVICE_WIDTH:$XS_DEVICE_WIDTH;
  $S_DEVICE_WIDTH: $S_DEVICE_WIDTH;
  $M_DEVICE_WIDTH: $M_DEVICE_WIDTH;
  $L_DEVICE_WIDTH: $L_DEVICE_WIDTH;
  $XS_GUTTER_WIDTH: $XS_GUTTER_WIDTH;
  $S_GUTTER_WIDTH:  $S_GUTTER_WIDTH;
  $M_GUTTER_WIDTH:  $M_GUTTER_WIDTH;
  $L_GUTTER_WIDTH: $L_GUTTER_WIDTH;
  $XS_COLUMN_WIDTH:  $XS_COLUMN_WIDTH;
  $S_COLUMN_WIDTH:   $S_COLUMN_WIDTH;
  $M_COLUMN_WIDTH:   $M_COLUMN_WIDTH;
  $L_COLUMN_WIDTH:   $L_COLUMN_WIDTH;
  $XS_CONTENT_MAX_WIDTH:  $XS_CONTENT_MAX_WIDTH;
  $S_CONTENT_MAX_WIDTH:  $S_CONTENT_MAX_WIDTH;
  $M_CONTENT_MAX_WIDTH:   $M_CONTENT_MAX_WIDTH;
  $L_CONTENT_MAX_WIDTH: $L_CONTENT_MAX_WIDTH;
  $XS_PADDING:   $XS_PADDING;
  $S_PADDING:   $S_PADDING;
  $M_PADDING:   $M_PADDING;
  $L_PADDING:   $L_PADDING;
}
